@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$fjalla-one: Fjalla One,
sans-serif;
html,
body,
#root,
#root>div {
    height: 100%;
    font-family: $fjalla-one;
}

body {
    background-color: #eee;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Fjalla One", sans-serif;
    background-image: url("./assets/a19fe695998927.5ea4615ac25e7.jpg");
    background-size: 2500px;
    background-position: 68% 3%;
    overflow-x: hidden;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 0.3em 1em;
    box-shadow: -22px 23px 30px rgba(9, 9, 9, 0.1), inset 1px 1px 1px rgba(9, 9, 9, 0.1);
    margin: 1em;
    font-size: 1.2em;
    width: max-content;
    display: flex;
    align-self: center;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: $fjalla-one;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.player {
    width: 100%;
    display: flex;
    justify-content: center;
}